## mako
<%!
  from django.utils.translation import ugettext as _
%>
<center data-parsed=\"\" style=\"width:100%;\">
  <p class=\"text-center float-center\" style=\"color:#B1B1B1;font-family:Helvetica,Arial,sans-serif;font-size:11px;font-weight:400;line-height:1.3;margin:0;margin-bottom:10px;padding:0;text-align:center; margin-top: 25px;\">
  <a href="%tag_unsubscribe_url%" style="font-family:Helvetica,Arial,sans-serif;font-weight:400;line-height:1.3;margin:0;padding:0;text-align:left;text-decoration:none">${_("Unsubscribe here")}</a></p>
</center>
