## mako
<%!
from microsite_configuration import microsite
from openedx.core.djangoapps.site_configuration import helpers as configuration_helpers
from django.utils.translation import ugettext as _
from openedx.conf import settings
%>
<%inherit file="layout/one_call_to_action.html" />

<%block name="title">
${_("Account activation")}
</%block>

<%block name="msg_header">
  ${_("Thank you for creating an account with {platform_name}!").format(
      platform_name=configuration_helpers.get_value('PLATFORM_NAME', settings.PLATFORM_NAME)
  )}
</%block>

<%block name="msg_content" >
  ${_("There's just one more step before you can enroll in a course: "
    "you need to activate your {platform_name} account. To activate "
    "your account, click the button below.").format(
        platform_name=configuration_helpers.get_value('PLATFORM_NAME', settings.PLATFORM_NAME)
  )}
</%block>

<%block name="msg_content_2" >
  ${_("If you didn't create an account, you don't need to do anything; you "
      "won't receive any more email from us. If you need assistance, please "
      "do not reply to this email message. Check the help section of the "
      "{platform_name} website.").format(platform_name=configuration_helpers.get_value('PLATFORM_NAME', settings.PLATFORM_NAME))}
</%block>

<%block name="call_to_action_href">
% if is_secure:
  https://${ site }/activate/${ key }
% else:
  http://${ site }/activate/${ key }
% endif
</%block>

<%block name="call_to_action_label">${_("Activate account")}</%block>
